<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="ConnectDB" value="Data Source=TANKOLPC0002\TANKOLPC0002; Initial Catalog=jivanmuktas_16_7_18; Integrated Security=true;" />-->
    <!--<add key="ConnectDB" value="Data Source=103.48.51.245,1232; Initial Catalog=jivanmuktas; User ID=jivanmuktas; Password=Abc@1234567;" />-->
    <add key="ConnectDB" value="Data Source=18.219.211.221,1433; Initial Catalog=UAT_JMAPP; User ID=UAT_JMAPP; Password=Abc@1234567;" />
    <!--<add key="BASEURL" value="http://uatappweb.jivanmuktas.org/"/>-->
    <add key="BASEURL" value="http://localhost:58949/" />
    <add key="API_BASEURL" value="http://uatappweb.jivanmuktas.org/" />
    <!--<add key="API_BASEURL" value="http://uatappweb.jivanmuktas.org/"/>-->
    <add key="SERVICE_BASEURL" value="http://uatappwebapi.jivanmuktas.org/" />
    <!--<add key="SERVICE_BASEURL" value="http://uatappwebapi.jivanmuktas.org/"/>-->
  </appSettings>
  <system.web>
    <sessionState mode="InProc" timeout="30"></sessionState>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <customErrors mode="On">
    </customErrors>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
