<!-- page content start -->
<div class="right_col" role="main">
    <div class="row">
        <ul id="breadcrumb">
            <li><a href="@ViewBag.breadcrumbHomeURL"><i class="fa fa-home mar_right_5" aria-hidden="true"></i>@ViewBag.breadcrumbHome</a></li>
            <li><a href="#"><i class="fa fa-flask mar_right_5" aria-hidden="true"></i> Dashboard </a></li>
        </ul>
    </div>
    <label>User Account Status:</label>
    <div id="user_count_div"></div>
    <label>Registered Event Status:</label>
    <div id="event_count_div"></div>
</div>
<!-- page content end -->

